{% extends 'shop/extends/base.html' %}
{% block content %}
<div class="entry-header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="entry-header" style="">
                    <a href="{% url 'OrdersUser' %}"><h2 class="entry-title">My Account</h2></a>
                    <a href="{% url 'EditProfile' %}"><h5>Edit profile</h5></a>
                    <a href="{% url 'ChangePasswordProfile' %}"><h5>Change password</h5></a>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form" style="height: 80%;">
    <div class="container">
        <div class="row" style="display: flex; justify-content: center;">
            <div style="margin-top: 25px;">
                <form action="{% url 'EditProfile' %}" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}