{% extends 'shop/extends/base.html' %}
{% block content %}
	<!-- entry-header-area start -->
	<div class="entry-header-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="entry-header">
						<h1 class="entry-title">Cart</h1>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- entry-header-area end -->
	<!-- cart-main-area start -->
	<div class="cart-main-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in cart %}
                                {% with product=item.product %}
                                <tr>
                                    <td class="product-thumbnail"><a href="{{ product.get_absolute_url }}"><img src="{{ product.preview_image.url }}" alt="" /></a></td>
                                    <td class="product-name"><a href="{{ product.get_absolute_url }}"><p style="text-decoration: underline;">{{ product.title }}</p>{% for key, property in item.property.items %}<p>{{ key }} {{ property }}</p>{% endfor %}</a></td>
                                    <td class="product-price"><span class="amount">£{{ item.price }}</span></td>
                                    <td class="product-quantity"><input type="number" value="{{ item.quantity }}" /></td>
                                    <td class="product-subtotal">£{{ item.total_price }}</td>
                                    <td class="product-remove"><form action="{% url 'CartDel' slug=item.product_id %}" method="post">{% csrf_token %}<input type="submit" style="background: none;" value="&#10006;"></form></td>
                                </tr>
                                {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-7 col-xs-12">
                            <div class="buttons-cart">
                                <a href="{% url 'CartProduct' %}">Update cart</a>
                                <a href="{% url 'ProductList' %}">Continue Shopping</a>
                            </div>
                            <div class="coupon">
                                <h3>Coupon</h3>
                                <p>Enter your coupon code if you have one.</p>
                                <form action="{% url 'ApplyCoupon' %}" method="post">{% csrf_token %}
                                    {{ form.code }}
                                    <input type="submit" value="Apply Coupon" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="cart_totals">
                                <h2>Cart Totals</h2>
                                <table>
                                    <tbody>
{#                                        <tr class="cart-subtotal">#}
{#                                            <th>Subtotal</th>#}
{#                                            <td><span class="amount">£{{ cart.get_total_price }}</span></td>#}
{#                                        </tr>#}
                                        <tr class="shipping">
                                            <th>Shipping</th>
                                            <td>
                                                <ul id="shipping_method">
                                                    <li>
{#                                                        <input type="radio" />#}
{#                                                        <label>#}
{#                                                            Flat Rate: <span class="amount">£7.00</span>#}
{#                                                        </label>#}
                                                    </li>
                                                    <li>
{#                                                        <input type="radio" />#}
{#                                                        <label>#}
{#                                                            Free Shipping#}
{#                                                        </label>#}

                                                        {% if cart.get_coupon_in_cart %}
                                                            <div><span>Discount: {{ cart.get_coupon_in_cart.discount }}%</span></div>
                                                        {% endif %}
                                                    </li>
                                                    <li></li>
                                                </ul>
                                                <p><a class="shipping-calculator-button" href="#">Calculate Shipping</a></p>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td>
                                                {% if cart.get_coupon_in_cart %}
                                                    <span class="old-price amount" style="color: grey;">£{{ cart.sum_cart }}</span>
                                                    <strong><span class="new-price amount">£{{ cart.get_total_price }} </span></strong>
                                                {% else %}
                                                    <strong><span class="amount">£{{ cart.get_total_price }}</span></strong>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    <a href="{% url 'Checkout' %}">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- cart-main-area end -->
{% endblock %}
